@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  list-style: none;
  background-color: rgb(220, 215, 215);
}

header {
  background-color: white;
}
.page-wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
/* Header part which is divided into title and navbar */

.title-section {
  display: flex;
  justify-content: space-between;
}
.tittle-logo img {
  width: 150px;
  height: 120px;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}
/* navbar */
nav {
  background-color: white;
}
.nav-bar {
  margin-top: 55px;
  /* background-color: white; */
}

.nav-bar ul {
  background-color: white;
}

.nav-bar li {
  display: inline;
  padding: 0px 10px 0px 10px;
  vertical-align: middle;
  background-color: white;
}

.nav-bar a {
  color: black;
  font-size: 20px;
  background-color: white;
}

.tittle-logo {
  background-color: white;
}

.online_order_img img {
  width: 1024px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}
.online-order-info {
  position: absolute;
  width: 900px;
  top: 50%;
  left: 6%;
  padding: 50px;
}

/* online-order-info */

.online-order-info {
  padding: 0 3em;
  text-align: center;
  background-color: transparent;
  margin: 10px;
}

.online-order-info h1 {
  color: #000000;
  font-size: 30px;
  margin-bottom: 0;
  background: linear-gradient(
      to bottom,
      rgb(176, 174, 174),
      rgba(128, 128, 128, 0)
    ),
    linear-gradient(to top, rgb(176, 174, 174), rgba(128, 128, 128, 0));

  font-style: bold;
  padding: 10px;
}

.online-order-info p {
  background-color: transparent;
  color: white;
  word-spacing: 8px;
  padding: 10px;
}

.online-order-info button {
  padding: 10px 30px;
  border-radius: 30px;
  background: #f3a333;
  color: #ffffff;
  border: none;
}
