/* fot large screen and lapto size */
/* @media screen >1024px */
.bottom_line {
  border-top: 1px solid rgb(194, 193, 193);
}

.images-container,
.images-container2,
.images-container3 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: white;
  justify-content: space-evenly;
}

/* img css */

.card {
  width: 250px;
  height: 250px;
  background-color: green;
  font-size: 2.5em;
  text-align: center;
  box-sizing: border-box;
  margin: 0px 47px;
  justify-content: space-around;
}

/* adjusting viewport for horizontal screen carousel */
.view-port {
  background-color: transparent;
  width: 1024px;
  height: 300px;
  overflow: hidden;
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: fill;
}

.menu-title {
  font-family: "Iceberg";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: white;
}

.section-breakfaast {
  background-color: white;
}

.section-lunch {
  background-color: white;
}

.section-dessert {
  background-color: white;
}

.btns {
  text-align: center;
  background-color: white;
  padding: 20px;
}

#next,
#next2,
#next3,
#previous,
#previous2,
#previous3 {
  padding: 5px 15px;
  background-color: #819168;
  color: white;
  border: none;
  border-radius: 5px;
}
/* laptop size */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .card {
    width: 285px;
    height: 250px;
    margin: 0px 32px;
  }
  .view-port {
    width: 769px;
  }
  .card img {
    width: 285px;
    height: 250px;
  }
}
/* tab screen */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 285px;
    height: 250px;
    margin: 0px 35px;
  }
  .view-port {
    width: 481px;
    justify-content: center;
  }
  .card img {
    width: 285px;
    height: 250px;
  }
}

/* mobile screen */

@media screen and (max-width: 480px) {
  .card {
    width: 285px;
    height: 250px;
    margin: 0px 35px;
  }
  .view-port {
    width: 481px;
    justify-content: center;
  }
  .card img {
    width: 285px;
    height: 250px;
  }
}

/* @media (max-width> 1024px) {
  .homePage-wrapper {
    width: 1024px;
  }

  #home_navbar {
    width: 1024px;
    height: 101px;
  }

  #logo_Img {
    width: 136px;
    height: 101px;
  }

  #home_navbar a {
    font-size: 20px;
    line-height: 24px;
  }

  .info-text {
    width: 597px;
    height: 231px;
  }

  .info-text h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .info-text p {
    font-size: 18px;
  }

  .order-btn {
    font-size: 16px;
    width: 142px;
    height: 39px;
  }

  .section2 {
    width: 1024px;
  }

  #welcome {
    font-size: 32px;
  }

  #line2,
  #line3 {
    font-size: 25px;
    margin-top: 20px;
  }

  .row1 {
    height: 4px;
    width: 150px;
  }

  .nav {
    width: 1024px;
    height: 101px;
    font-size: 20px;
  }

  .breakfast_img {
    width: 350px;
    height: 350px;
  }

  .breakfast_info {
    width: 350px;
    height: 350px;
  }

  .breakfast_info h3 {
    font-size: 25px;
    line-height: 40px;
  }

  .breakfast_info h4 {
    font-size: 18px;
    line-height: 50px;
  }

  .breakfast_info h5 {
    font-size: 16px;
  }

  #gif {
    width: 836px;
  }

  .footer1 {
    height: 253px;
  }

  .left-side {
    width: 350px;
  }

  .left-side p,
  a {
    font-size: 25px;
    line-height: 24px;
  }

  #address {
    font-size: 18px;
  }

  #phone_number {
    font-size: 16px;
  }

  #row2 {
    width: 90px;
  }

  #footer_img {
    width: 149.86px;
    height: 141px;
  }

  .footer2 p {
    font-size: 12px;
  }
} */
