@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap");

/* root css */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  list-style: none;
  background-color: rgb(239, 239, 239);
}
/* header css */

header {
  background-color: white;
}
.page-wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

/* Header part which is divided into title and navbar */

.title-section {
  display: flex;
  justify-content: space-between;
}
.tittle-logo img {
  width: 150px;
  height: 120px;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}
/* navbar */
nav {
  background-color: white;
}
.nav-bar {
  margin-top: 55px;
  /* background-color: white; */
}

.nav-bar ul {
  background-color: white;
}

.nav-bar li {
  display: inline;
  padding: 0px 10px 0px 10px;
  vertical-align: middle;
  background-color: white;
  font-size: 10px;
}

.nav-bar a {
  color: black;
  font-size: 20px;
  background-color: white;
}

.tittle-logo {
  background-color: white;
}
/* first-section */
.online_order_img img {
  width: 1024px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
.online-order-info {
  position: absolute;
  width: 100%;
  top: 350px;
  left: -10px;
  padding: 50px;
}

/* online-order-info */

.online-order-info {
  padding: 0 3em;
  text-align: center;
  background-color: transparent;
  margin: 10px;
}

.online-order-info h1 {
  color: #000000;
  font-size: 30px;
  margin-bottom: 0;
  background: linear-gradient(
      to bottom,
      rgb(176, 174, 174),
      rgba(128, 128, 128, 0)
    ),
    linear-gradient(to top, rgb(176, 174, 174), rgba(128, 128, 128, 0));

  font-style: bold;
  padding: 10px;
}

.online-order-info p {
  background-color: transparent;
  color: white;
  word-spacing: 8px;
  padding: 10px;
}

.online-order-info button {
  padding: 10px 30px;
  border-radius: 30px;
  background: #f3a333;
  color: #ffffff;
  border: none;
}

.online-order-info a {
  border-radius: 30px;
  background: #f3a333;
  color: #ffffff;
  border: none;
}

/* main-div css */

.project-brief {
  margin-top: 20px;
  text-align: center;
  font-weight: 900;
}

.brief-pdf {
  border: 1px solid rgb(1, 1, 1);
  padding: 30px;
  width: 1024px;
  height: 500px;
  margin-top: 20px;
}
/* full-screen button css */

.full_screen {
  padding: 10px 30px;
  border-radius: 30px;
  background: #f3a333;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.full_screen2 {
  padding: 10px 30px;
  border-radius: 30px;
  background: #f3a333;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.full_screen3 {
  padding: 10px 30px;
  border-radius: 30px;
  background: #f3a333;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

/* Style each card */
.fifth-section h3 {
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
}

.card-gallery {
  background-color: #fff;
  border: 1px solid #ccc;
  /* padding: 5px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-between;
}

/* Style the image inside each card */
.card-gallery img {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
}

/* Style the name inside each card */
.card-gallery p {
  margin: 0;
  font-weight: bold;
  color: rgb(113, 113, 113);
  background-color: white;
  margin-bottom: 10px;
}

/* footer */
.footer {
  background-color: #f3a333;
  color: #fff;
  padding: 20px 20px 20px 20px;
  text-align: center;
  margin-top: 30px;
}

.footer a {
  color: white;
  background-color: #f3a333;
}
.footer p {
  background-color: #f3a333;
}

.brief-tittle {
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
}
