@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap");
/* root css */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  list-style: none;
  background-color: white;
}

/* body css */

body {
  background-color: rgb(220, 215, 215);
}

/* page container */

@media screen and (max-width: 1260px) {
  .page-wrapper {
    width: 1024px;
    margin: 0 auto;
  }

  /* header section which includes img, title-text and navbar  */

  .title_part {
    position: relative;
    text-align: center;
  }

  .title-img {
    width: 100%;
    margin: 0 auto;
  }

  .title_text {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: -510px;
    padding: 20px 30px;
    background-color: transparent;
  }

  .website_name {
    font-size: 35px;
    color: white;
    background-color: transparent;
  }

  .nav-bar {
    background-color: transparent;
  }

  .nav-bar ul {
    background-color: transparent;
    margin-top: 10px;
  }

  .nav-bar li {
    display: inline;
    background-color: transparent;
  }

  .nav-bar a {
    color: rgb(235, 227, 227);
    -webkit-text-stroke: 0.1px rgb(195, 194, 194);
    font-size: 18px;
    padding: 20px 10px;
    font-weight: bolder;
    background-color: transparent;
  }

  a:hover {
    color: white;
  }

  .tag_line_info {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px 10px;
    background-color: transparent;
  }

  #Sustainability {
    font-size: 15px;
    font-weight: 800;
    padding: 0px 10px;
    background-color: transparent;
  }

  #second-line {
    font-size: 50px;
    padding: 20px 10px;
    background-color: transparent;
  }

  #learn_more_btn {
    background-color: grey;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
  }

  /* second section which includes h2 and p */

  .second-section {
    text-align: center;
    padding: 20px;
  }

  .second-section h2 {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 28px;
  }

  .second-section P {
    margin-top: 40px;
    word-spacing: 3px;
    line-height: 25px;
    color: rgb(113, 113, 113);
  }

  /* third-section includes fevorite hikes with img and name */

  .third-section h3 {
    text-align: center;
    padding: 50px;
    font-size: 25px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card img {
    width: 300px;
    height: 250px;
    border-radius: 5px;
  }

  .card p {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    text-transform: uppercase;
    color: rgb(113, 113, 113);
  }

  /* forth-section includes featured video and and information */

  .forth-section {
    display: block;
  }
  .featured {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
  }
  .taj-video {
    margin-top: 30px;
  }
  .text-embed {
    text-align: center;
    margin-top: 80px;
    padding: 40px;
  }
  .text-embed h4 {
    padding: 20px;
    text-transform: uppercase;
  }

  .forth-section h3 {
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
  }

  .featured p {
    text-align: center;
    color: rgb(113, 113, 113);
  }

  .text-embed audio {
    margin-top: 30px;
  }

  /* fifth section is created with table*/

  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
  }

  /* Style each card */
  .fifth-section h3 {
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
  }

  .card-gallery {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  /* Style the image inside each card */
  .card-gallery img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }

  /* Style the name inside each card */
  .card-gallery p {
    margin: 0;
    font-weight: bold;
    color: rgb(113, 113, 113);
  }

  /* sixth section subscribe section */

  .sixth-section {
    text-align: center;
    padding: 20px;
    margin: 20px 0px 60px 0px;
  }

  .sixth-section h3 {
    padding: 20px;
    font-size: 25px;
  }

  .sixth-section p {
    color: grey;
    padding: 20px;
  }

  .sixth-section input {
    padding: 15px 80px 15px 10px;
    border: #ccc 1px solid;
    border-radius: 5px;
    margin-top: 15px;
  }

  #sign-up-btn {
    background-color: rgb(107, 105, 105);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
  }

  /* footer */
  .footer {
    background-color: #3c3939;
    color: #fff;
    padding: 20px 20px 20px 20px;
    text-align: center;
  }

  .footer a {
    color: white;
    background-color: #3c3939;
  }
  .footer p {
    background-color: #3c3939;
  }
}

@media screen and (max-width: 768px) {
}
